body {
  margin: 0;
}
// html {
//   background-color: #182145;
// }
* {
  font-family: "DM Sans", sans-serif !important;
  // transition: .1s;
}

svg{
  display: block;
}
html {
  scroll-behavior: smooth;
}